<h1>Welcome to CSE Motors!</h1>
 <div class="content">
    <picture>
        <source media="(min-width:64rem)" srcset="/images/vehicles/delorean.jpg">
        <!----<source media="(min-width:35em)" srcset="../lesson11/images/ridingmedium.jpeg">
        <source media="(max-width:560px)" srcset="../lesson11/images/ridingsmall.jpeg"> -->
        <img src="/images/vehicles/delorean.jpg" alt="Delorean">
    </picture>
    <section class="sales">
        <h3>DMC Delorean</h3>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button class="ownButton"><img src="/images/site/own_today.png" alt="Own Today Button"></button>
    </section>
</div> 
<div class="mainContent">
    <section class="review">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time" (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

    <section class="upgrades">
        <h3>Delorean Upgrades</h3>
        <div id="content">
            <div class="option">
                <img class="item-image" src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <button class="buy">Flux Capacitor</button>
            </div>
            <div class="option">
                <img class="item-image" src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <button class="buy">Flame Decals</button>
            </div>
            <div class="option">
                <img class="item-image" src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <button class="buy">Bumper Stickers</button>
            </div>
            <div class="option">
                <img class="item-image" src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <button class="buy">Hub Caps</button>
            </div> 
        </div>
    </section> 
</div>