<% if (title) { %> <%# EJS code block to contain JS if structure to determine if title exists%>
<h1><%= title %></h1> <%# True -> display whithin h1 element%>
<% } else { 
  res.redirect('/') // False -> redirect to default indx route
} %>
 
<%- messages() %> <%# Displays a flash message if any%>

<%- grid %> <%#This allows HTML to be displayed. Remember our grid variable contains HTML. %>
