<% if (title) { %>
<h1><%=title%></h1>
<%
} else {
    res.redirect('/')
} %>
<%- messages() %>

<ul class="add-list">
    <li><a href="/inv/add-classification">Add a new Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Car to Inventory</a></li>
</ul>

